.toptext {
    display: flex;
    flex-wrap: wrap;

}

.text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: white;
}

.background {
    width: 1920px;
    height: 694px;
    background: black;
}

.navigatoin {
    display: flex;
    margin-left: 650px;
}

.container_form1 {
    display: flex;
}

.container_checkbox {
    display: flex;
    flex-direction: column;
}

.container_button {
    display: flex;
}

.forma {
    background: none;

}

.input1 {
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    width: 340px;
    height: 64px;
    padding-left: 28px;
}

.input2 {
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    width: 340px;
    height: 64px;
    padding-left: 28px;
    margin: 0 20px;
}


.select {
    border-radius: 8px;
    width: 340px;
    height: 68px;
    font: 500 18px/22px 'Montserrat', sans-serif;
    color: #999999;
    padding-left: 28px;
    cursor: pointer;
}

.subscribe_button {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 19px 40px 19px 40px;
    border: 2px solid #FFFFFF;
    background: #05090C;
    color: #FFFFFF;
    cursor: pointer;

    border-radius: 8px;
    | width: 340px;
    height: 67px;
}

.subscribe_button:hover {
    background: #808080;
}

.subscribe_button:active {
    background: #C0C0C0;
}

.checkbox_input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.color_text {
    color: #E71096;
}

.checkbox_label {
    padding-left: 25px;
    color: white;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.checkbox {
    position: relative;
    display: flex;
}

.checkbox_label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox_label:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/check.png") no-repeat;
    background-size: 16px 16px;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.checkbox_input:checked + .checkbox_label:after {
    opacity: 1;
}
